<div id="container">

    <h1>Register</h1>
    <p class="lead">Already a member? Please <a routerLink="/login">log in</a> instead.</p>
    <form (submit)="register()">

      <div class="form-group">
        <label for="fullname">Full name</label>
        <input type="text" class="form-control" name="fullname" placeholder="Enter your name" required minlength="3"
          [(ngModel)]="credentials.fullname" #fullnameInput="ngModel">
        <div class="help error" *ngIf="fullnameInput.invalid && fullnameInput.dirty">
          Full name must be at least 3 characters long!
        </div>
      </div>

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" placeholder="Enter your desired username" required
          minlength="3" [(ngModel)]="credentials.username" #usernameInput="ngModel">
        <div class="help error" *ngIf="usernameInput.invalid && usernameInput.dirty">
          Full name must be at least 3 characters long!
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter your email address" required email
          [(ngModel)]="credentials.email" #emailInput="ngModel">
        <div class="help error" *ngIf="emailInput.invalid && emailInput.dirty">
          Please provide a real email address!
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required minlength="8"
          [(ngModel)]="credentials.password" #passwordInput="ngModel">
        <div class="help error" *ngIf="passwordInput.invalid && passwordInput.dirty">
          The password must be at least 8 characters long.
        </div>
      </div>

      <button id="reg" type="submit" class="btn btn-default" [disabled]="fullnameInput.invalid || usernameInput.invalid || emailInput.invalid || passwordInput.invalid">Register!</button>

    </form>

    <p class="lead">By clicking the register button you accept our <a routerLink="/policy">privacy policy</a>.</p>

    <div *ngIf="regError" id="screen">
      <dialog open>{{errorMessage}}</dialog>
      <button (click)="closeError()" id="close" class="btn btn-default">Try again</button>
    </div>

</div>